<a id="<%= dom_id image %>" href="<%= image.url %>" data-lightbox="jungle" class="gallery-item"
   data-title="<p>#<%= image.identifier %><a href='<%= image.url %>' target='_blank' class='ms-3'>
   <i class='fa-solid fa-arrow-up-right-from-square'></i>  Download</a> <a href='<%= image.ipfs %>' class='ms-3' target='_blank'><i class='fa-solid fa-arrow-up-right-from-square'></i>  Download IPFS</a></p>">
  <img src="<%= image.thumbnail %>>" alt="<%= image.identifier %>"/>
</a>